
.listing {
  width: 300px;
  height: 400px;
  padding: 50px;
  margin: 2.5%;
  
  color:black;
  border-radius: 8px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 80px;
  background-color: rgb(205, 255, 255);
}

.shelf{
  background:  #966F33;
  width: 100%;
  height: 50px;
  position: relative;
  right:100px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background-image: url("./pages/images/wood.jpg");
  
}

.shelf::before{
  content: '';
  display: inline-block;
  background:   #a57938;
  width: 100%;
  height: 20px;
  transform: skewX(-40deg);
  position: absolute;
  top: -20px;
  left: 8px;
  background-image: url("./pages/images/wood.jpg");
  border:1px solid black;
  
}
.shelf::after
  {
      
      content: '';
      display: inline-block;
      background:  #725326;
      width: 16px;
      height: 50px;
      transform: skewY(-50deg);
      position: absolute;
      top: -10px;
      left: 100%;
      background-image: url("./pages/images/wood.jpg");
      border:1px solid black;
  }


.artistImage{
  width:100%;
  border-radius: 5%;
  
}


.token-data{
  height:90vh;
}


.row{
  display:inline-block;
  vertical-align:middle;

  
}


@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

.container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
   margin: auto;
  width: 50%;
}
@import url(//fonts.googleapis.com/css?family=Vibur);
.neon {
  font: 400 19vh "Vibur";
  text-align:center;
  

  /*font-family: 'Dela Gothic One', cursive;*/
}


.neon {
  animation: neon 10s ease infinite;
  -moz-animation: neon 10s ease infinite;
  -webkit-animation: neon 10s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 .5vw #3ec7c0, 0 0 1vw #B2FBF2, 0 0 5vw #B2FBF2, 0 0 10vw #B2FBF2, 0 0 1vw #020201, 1vw 1vw 1vw #327a6e;
    color: #B2FBF2;
  }
  50% {
    text-shadow: 0 0 .5vw #3ea189, 0 0 1vw #379c91, 0 0 5vw #20b6a4, 0 0 10vw #B2FBF2, 0 0 1vw #020201, .8vw .8vw .8vw #1d6a8d;
    color: #B2FBF2;
  }
}
