.record{
    width:205px;
    height: 205px;
    background-size: cover;

    
    background-image: radial-gradient(ellipse, #0000, #0007),
    linear-gradient(0deg, #9725, #9725),
    url(https://i.ibb.co/vJt5HSh/noisy-texture-300x300-o10-d10-c-a82851-t1.png),
    url(https://i.ibb.co/m4sGRmK/pexels-pixabay-247431.jpg);
    filter: blur(0.01rem) saturate(0.9) contrast(1.2) brightness(1.1);
    
    box-shadow: #153d3a 0px 20px 30px -10px;
    



}

@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100&display=swap');


.recordContainer{
    width: 460px;
    text-align: left;
    padding-left: 60px;
    padding-right: 60px;
    
    
    

    
}




.recordContainer:hover .gold{
   
    animation: pullOut .2s ease-in forwards alternate;
    

}

.recordContainer:hover .recCenter{
    animation: fade .2s ease-in forwards alternate;
}

@keyframes fade{
    100%{
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    0%{
        opacity: 1;
    }
}

@keyframes pullOut{
    100%{
        transform: translateX(130px);
    }

    0%{
        transform: translateX(0px);
    }
}


.gold{
    width:199px;
    height:199px;
    border-radius: 50%;
    position: relative;
    top:199px;
    transition: all .2s ease-in;

    left:100px;
    animation: rotation 20s infinite linear;
 


 }

 @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
.recCenter{
    width:90px;
    height: 90px;
    position: relative;
    border-radius: 50%;
    margin: auto;
    bottom: 144.5px;
    padding: 10px;
    background-size: cover;
    border: 1px solid black;
    filter: grayscale(.3);
}


.recVideo{
    width: 197px;
    height: 197px;
    object-fit: cover;
    background-size:cover;
    border-radius: 50%;
    border: 2px solid black;
   

   
    

}
/*
.shelf{
    background:  #966F33;
    width: 400px;
    height: 50px;
    position: relative;
    right:100px;
    
}

.shelf::before{
    content: '';
    display: inline-block;
    background:   #a57938;
    width: 400px;
    height: 20px;
    transform: skewX(-40deg);
    position: absolute;
    top: -20px;
    left: 8px;
}
.shelf::after
    {
        content: '';
        display: inline-block;
        background:  #725326;
        width: 16px;
        height: 50px;
        transform: skewY(-50deg);
        position: absolute;
        top: -10px;
        left: 100%;
    }
*/
.info{
    color:rgb(255, 255, 255);
    padding-top: 15px;
    line-height: 15pt;
    width:230px;
    height:140px;
}