.record{
    width:205px;
    height: 205px;
    background-size: cover;
    /*Original*/
    /*clip-path: polygon(100% 0, 83% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);*/
    /*Full*/
    /*clip-path: polygon(0 0, 100% 0%, 100% 99%, 0% 100%);
    /*Cut out*/
    /*clip-path: polygon(100% 0%, 82% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);*/
    
    background-image: radial-gradient(ellipse, #0000, #0007),
    linear-gradient(0deg, #9725, #9725),
    url(https://i.ibb.co/vJt5HSh/noisy-texture-300x300-o10-d10-c-a82851-t1.png),
    url(https://i.ibb.co/m4sGRmK/pexels-pixabay-247431.jpg);
    filter: blur(0.01rem) saturate(0.9) contrast(1.2) brightness(1.1);
    
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    



}

@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100&display=swap');


.recordContainer{
    width: 430px;
    text-align: left;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
    
    

    
}




.recordContainer:hover .gold{
   
    animation: pullOut .2s ease-in forwards alternate;
    

}

@keyframes pullOut{
    100%{
        transform: translateX(170px);
    }

    0%{
        transform: translateX(0px);
    }
}


.gold{
    width:199px;
    height:199px;
    border-radius: 50%;
    position: relative;
    top:199px;
    transition: all .2s ease-in;

    left:50px;
    animation: rotation 20s infinite linear;
 


 }

 @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
.recCenter{
    width:30px;
    height: 30px;
    
  background: linear-gradient(163deg, transparent 0px, transparent 1px, rgb(14,33,48) 1px, rgb(14,33,48) 14px, transparent 14px),
  linear-gradient(161deg, transparent 0px, #181818 1px, rgb(14,33,48) 2px, rgb(14,33,48) 15px, transparent 15px),
  linear-gradient(343deg, transparent 0px, transparent 1px, rgb(14,33,48) 1px, rgb(14,33,48) 14px, transparent 14px),
  linear-gradient(343deg, transparent 0px, transparent 1px, rgb(14,33,48) 1px, rgb(14,33,48) 14px, transparent 14px);
background-color: #202020d0; 
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
    left: 80px;
    bottom: 110px;
}


.recVideo{
    width: 197px;
    height: 197px;
    object-fit: cover;
    background-size:cover;
    border-radius: 50%;
    border: 2px solid black;
   

   
    

}
.info{
    color:rgb(0, 0, 0);
    padding-top: 15px;
    line-height: 15pt;
    width:230px;
}