body{

  /*background: linear-gradient(163deg, transparent 0px, transparent 1px, rgb(14,33,48) 1px, rgb(14,33,48) 14px, transparent 14px),
    linear-gradient(161deg, transparent 0px, #181818 1px, rgb(14,33,48) 2px, rgb(14,33,48) 15px, transparent 15px),
    linear-gradient(343deg, transparent 0px, transparent 1px, rgb(14,33,48) 1px, rgb(14,33,48) 14px, transparent 14px),
    linear-gradient(343deg, transparent 0px, transparent 1px, rgb(14,33,48) 1px, rgb(14,33,48) 14px, transparent 14px);
  background-color: #202020d0; 

  background-position: 2px 1px, 23px 16px,48px 15px, 21px 30px;
  background-size: 48px 30px;*/

  /*background-image: url("./images/slate.jpg");*/
 
 /*background-size: cover;*/
 background-color:#2a2c2c;


 
 /*background-color: rgb(14,33,48);*/
 

}




.marketItems{
    margin-left: 200px;
    margin-right: 200px;

    height:100vh;
}